.trustedBy {
  background-color:white;// #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    max-width:760px;
    display: flex;
    align-items: center;
    gap: 20px;
    color:black;//rgb(200, 200, 200);
    font-weight: 700;
    span{
      color:white;
      font-weight:800;
    }


    img{
      height: 60px;
      object-fit: contain;
    }
  }
}

